{% extends 'base.html.twig' %}

{% block title %}Mis Reservas{% endblock %}

{% block body %}
    <link rel = "stylesheet" href = "/CSS/estilo/misReservas.css" type = "text/css">

    <div class = "contenedor">
        <h1>{{error}}</h1>
    </div>
    
{% endblock %}
