{% include '@EasyAdmin/page/content.html.twig' %}

<div id = "ruta">
    <!-- Cargar archivos JS de JQuery UI -->
    <script src = "js/jquery-3.7.1.js"></script>
    <script src = "js/jquery-ui.js"></script> 
    <script src = "js/crearRuta.js"></script> 
    <script type = "text/javascript" src="js/jquery.richtext.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    
    <!-- Cargar los CSS de JQuery UI -->
    {# <link rel = "stylesheet" href = "CSS/jquery/jquery-ui.css" type = "text/css"> #}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel = "stylesheet" href = "CSS/jquery/jquery-ui.structure.css" type = "text/css">
    <link rel = "stylesheet" href = "CSS/jquery/jquery-ui.theme.css" type = "text/css">
    <link rel = "stylesheet" href = "https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="css/jquery/richtext.min.css">
    <link rel = "stylesheet" href = "{{ asset('css/estilo/crearRuta.css') }}" type = "text/css">

    <form action = "/admin?routeName = rutas" method="post">

        <div id = "parte1">
            <div class = "row">
                <h2>Atributos</h2>
                <div class = "col-sm-5 mb-3">
                    <!-- Título -->
                    <label for = "titulo">Título:</label>
                    <input type = "text" id = "titulo" name = "titulo" maxlength = "100" required>
                </div>
                
                <div class = "col-sm-1 mb-3">
                    <!-- Fechas -->
                    <div id = "fecSali">
                        <label for = "inicio">Fecha Inicio:</label>
                        <input type = "text" name = "salida" id = "salida">
                    </div>
                </div>
                
                <div class = "col-sm-1 mb-3">
                    <div id = "fecLleg">
                        <label for = "Fin">Fecha Fin:</label>
                        <input type = "text" name = "llegada" id = "llegada">
                    </div>
                </div>

                <div class = "col-sm-1 mb-3">
                    <!-- Aforo -->
                    <label for = "aforo">Aforo:</label>
                    <input type = "number" id = "aforo" name = "aforo" min = "1" max = "20" required>
                </div>

                <div class = "col-sm-4 mb-3">
                    <!-- Foto -->
                    <label for="image" id = "image">Subir imagen</label>
                    <input type="file" class="form-control-file mt-2" name="image" id="image">
                </div>
            </div>  
            
            <div class = "row">
                <div class = "col-sm-4 mb-3">
                    <!-- Coordenada de Inicio -->
                    <label for = "coordenada_inicio">Punto de Inicio:</label>
                    <input type = "text" id = "indicaRuta" name = "indicaRuta" maxlength = "255" required autocompleted>
                </div>

                <div class = "col-sm-3 mb-3">
                    <label >Coordenadas:</label>
                    <input type = "text" id = "coordenadaInicio" name = "coordenada_inicio" maxlength = "255" required disabled>
                </div>

                <div class = "col-sm-3 mb-3">
                    <label style = "visibility: hidden;">Boton</label>
                    <button id = "buscarMapa">Ver Mapa</button>
                </div>
            </div>

            <div class = "row">
                <!-- Descripción -->
                <label for = "descripcion">Descripción:</label>
                <div class = "page-wrapper box-content">
                    <textarea id = "descripcion" class = "textArea" name = "example"></textarea>
                </div>
            </div>
            
            <div class = "row">
                <div class = "col-sm-5 mb-3">
                </div>
                
                <div class = "col-sm-2 mb-3">
                    <button name = "siguiente" id = "siguiente">Siguiente</button>
                </div>

                <div class = "col-sm-5 mb-3">
                </div>
            </div>
        </div>

        <div id = "parte2">
            <h2>Items</h2>
            <div class = "row">
                <div class = "col-sm-2 mb-3">
                    <label>Filtrar por: </label>
                    <select name = "filtros" id = "filtros">
                        <option value = "localidad">Por localidad</option>
                        <option value = "provincia">Por provincia</option>
                    </select>
                </div>

                <div class = "col-sm-3 mb-3">
                    <label>Buscar: </label>
                    <input type = "text" id = "filtra">
                </div>
                <div class = "col-sm-2 mb-3">
                    <label style = "visibility:hidden;">Botón</label>
                    <button id = "filtrar">Filtrar</button>
                </div>
                <div class = "col-sm-4 mb-3">
                </div>
            </div>       
            <div class = "row">
                <div class="ui-widget ui-helper-clearfix">
                    <ul id = "gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                    </ul>
                    
                    <div id = "itemSelec" class="ui-widget-content ui-state-default">
                        <h4 class="ui-widget-header"><span class="ui-icon ui-icon-itemSelec">itemSelec</span> Items Añadidos</h4>
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col-sm-5 mb-3">
                </div>
                
                <div class = "col-sm-2 mb-3">
                    <!-- Botón de Retroceder -->
                    <button id = "anterior" name = "anterior">Anterior</button>
                </div>

                <div class = "col-sm-5 mb-3">
                </div>
                
            </div>

            <div id = "map"></div>            
            
            

        </div>
    </form>

</div>