form 
{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label 
{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#image
{
    display: block;
    margin-bottom: -2px;
}

.errores
{
    visibility: hidden;
    padding-top: 0px;
    color: red;
}

input,
textarea,
select 
{
    width: 100%;
    padding: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea 
{
    resize: vertical;
}

button 
{
    background-color: #67988e;
    color: #fff;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#siguiente, #anterior, #siguiente2, #anterior2
{
    margin-top: 10px;
}

button:hover 
{
    background-color: #95b7b0;
}

#parte2, #parte3
{
    display: none;
}

#gallery 
{ 
    float: left; 
    width: 65%; 
    min-height: 12em; 
}

.gallery.custom-state-active 
{ 
    background: #eee; 
}

.gallery li 
{ 
    float: left; 
    width: 96px; 
    padding: 0.4em; 
    margin: 0 0.4em 0.4em 0; 
    text-align: center; 
}

.gallery li h5 
{ 
    margin: 0 0 0.4em; 
    cursor: move; 
}

.gallery li a 
{ 
    float: right; 
}

.gallery li a.ui-icon-zoomin 
{ 
    float: left; 
}

.gallery li img 
{ 
    width: 100%; 
    cursor: move; 
}

#itemSelec 
{ 
    float: right; 
    width: 32%; 
    min-height: 18em; 
    padding: 1%; 
}

#itemSelec h4 
{ 
    line-height: 16px; 
    margin: 0 0 0.4em; 
}

#itemSelec h4 .ui-icon 
{ 
    float: left; 
}

#itemSelec .gallery h5 
{ 
    display: none; 
}

table 
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
thead 
{
    background-color: #f2f2f2;
}

th 
{
    padding: 10px;
    text-align: left;
}

td 
{
    border: 1px solid #ddd;
    padding: 10px;
}

#seleccionables, #labelSelec
{
    display: flex;
}

#seleccionables input
{
    margin-right: 5px;
}

/* #labelSelec label
{
    margin-left: 50px;
} */

#guias
{
    width: 150px;
}