.contenedor 
{
    position: relative;
    height: 400px;
    border-radius: 15px;
    width: 800px;
    margin-left: 4em;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
  
thead 
{
    background-color: #f2f2f2;
}

th 
{
    padding: 10px;
    text-align: left;
}

td 
{
    border: 1px solid #ddd;
    padding: 10px;
}