{# templates/admin/index.html.twig #}

{% include '@EasyAdmin/page/content.html.twig' %}

{% block body %}
    <div id = "calendarioAdmin">
        <script src = "js/jquery-3.7.1.js"></script>
        <script src = "js/jquery-ui.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
        <!--<script defer src='https://static.cloudflareinsights.com/beacon.min.js' 
            data-cf-beacon='{"token": "dc4641f860664c6e824b093274f50291"}'>
        </script>-->
        <script src = "js/crearCalendario.js"></script>

        <div id = 'calendar'></div>
        
    </div>
{% endblock %}


