{# templates/admin/index.html.twig #}

{% include '@EasyAdmin/page/content.html.twig' %}

{% block body %}
    <div id = "calendarioAdmin">
        <script src = "js/jquery-3.7.1.js"></script>
        <script src = "js/jquery-ui.js"></script>
        <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
        <script src = "js/crearCalendario.js"></script>

        <div id = 'calendar'></div>

        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby = "ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class = "modal-header">
                        <h5 class = "modal-title" id="ModalLabel">Detalles del evento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Ruta: <span id="modalRuta"></span><label id="idTour" style = "visibility: hidden"></label></p>
                        <p>Guía: <span id="modalGuia"></span></p>
                        <p>Cambiar Guia: <select id="guias"></select></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id = "guardar" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


