{% extends 'base.html.twig' %}

{% block importmap %}{{ importmap('app') }}{% endblock %}
{% block body %}
    
    <a href = "listado">Listados De Alumnos</a>
    <img src="{{ asset('images/logo.png') }}" weight = "100" height = "100"/>
{% endblock %}
