{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilo/home.css') }}">
{% endblock %}

{% block importmap %}{{ importmap('app') }}{% endblock %}

{% block body %}
    <div class = "grid-container">
    <article class = "video-sec-wrap">
			<div class = "video-sec">
				<h1 class = "video-sec-title">Free Tours Disponibles</h1>
				<ul class = "video-sec-middle" id="vid-grid">
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1555661225-ade1bbf3fbb3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1957&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 1</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">1.3K Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1566075247408-2fc9e74810d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 2</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">57K Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1559083991-9bdef0bb5a39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 3</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">4.6K Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1560800589-3d88290dd749?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 4</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">3K Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
					<a href="">
						<img class = "thumb" src="https://images.unsplash.com/photo-1560716092-203a1703e06e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80" alt="">
						<div class = "thumb-info">
							<p class = "thumb-title">Ruta 5</p>
							<p class = "thumb-user">Breve Descripción</p>
							<p class = "thumb-text">126K Views</p>
						</div>
					</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1565210227317-2a6e64e9b778?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 6</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">255 Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1508180752316-db2148802010?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 7</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">100K Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1465287651408-7c76e5e8b191?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 8</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">1.8M Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1461995748424-ea60adff3fcd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 9</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">78 Views</p>
							</div>
						</a>
					</li>
					<li class = "thumb-wrap">
						<a href="">
							<img class = "thumb" src="https://images.unsplash.com/photo-1551292831-023188e78222?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
							<div class = "thumb-info">
								<p class = "thumb-title">Ruta 10</p>
								<p class = "thumb-user">Breve Descripción</p>
								<p class = "thumb-text">22K Views</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</article>
{% endblock %}
