<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FreeTour{% endblock %} - Registro Exitoso</title>

    <style>
        body 
        {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container 
        {
            text-align: center;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 
        {
            color: #2ecc71;
        }

        p 
        {
            font-size: 18px;
            color: #333;
        }

        a 
        {
            color: #3498db;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover 
        {
            text-decoration: underline;
        }

        .image-container 
        {
            margin-top: 20px;
        }

        .image-container img 
        {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>¡Bienvenido a nuestra comunidad en línea!</p>

        <p>Estamos encantados de darte la bienvenida a FreeTour, tu nuevo destino para conectarte, aprender y compartir experiencias. 
        Al unirte a nosotros, te sumergirás en un espacio vibrante y dinámico donde podrás explorar tus intereses, 
        conocer a personas apasionadas y descubrir contenido fascinante.</p>

        <p>Únete a nuestra creciente comunidad y haz que tu experiencia en línea sea más significativa. ¡Estamos emocionados de tenerte a bordo!</p>

        <p>¡Inicia sesión ahora y comienza tu viaje en FreeTour!</p>

        <p>Atentamente,</p>
        <p>El equipo de FreeTour</p>
        <div class="image-container">
            <img src="https://www.shutterstock.com/image-vector/bienvenido-welcome-spanish-text-lettering-260nw-146506775.jpg" alt="Imagen de bienvenida">
        </div>
    </div>
</body>
</html>
